*.iml
.gradle
/local.properties
/build
/captures
.externalNativeBuild
.cxx
/.vscode
/*.log
/.idea/*
.kotlin
/patches/bin/main/*
/integrations/ksp/bin/main/*
/build-logic/bin/main/*
/temp